.pwf-flexbox-grid{
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border:1px solid #e6e3e3;
  background-color: #fcfcfc;
  padding:16px;
}

.pwf-flexbox-grid > div{
  padding:10px;
  width:auto;
  margin-right:3px;
  margin-bottom: 3px;
}

@media screen and (max-width: 480px) {
  .pwf-grid{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    border:3px solid #e6e3e3;
    background-color: #fcfcfc;
    padding:16px;
  }
  .pwf-intro-text{
    padding:9px;
  }
  .pwf-select-menu{
    padding-bottom:16px;
  }
  .pwf-form-button{
    padding-bottom:9px;
  }
  .pwf-display-table{
    width:100%;
    font-size:65%;
  }
}

@media screen and (min-width: 481px) and (max-width: 1160px) {
  .pwf-grid{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    border:3px solid #e6e3e3;
    background-color: #fcfcfc;
    padding:16px;
  }
  .pwf-intro-text{
    padding:12px;
  }
  .pwf-select-menu{
    padding-bottom:16px;
  }
  .pwf-form-button{
    padding-bottom:9px;
  }
  .pwf-display-table{
    width:100%;
    font-size:90%;
  }
}

@media screen and (min-width: 1161px) {
  .pwf-grid{
    display:grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    border:3px solid #e6e3e3;
    background-color: #fcfcfc;
    padding:16px;
  }
  .pwf-intro-text{
    padding:12px;
  }
  .pwf-select-menu{
    padding-bottom:16px;
  }
  .pwf-form-button{
    padding-bottom:9px;
  }
  .pwf-display-table{
    width:100%;
    font-size:100%;
  }
}
