@media screen and (max-width: 480px) {
  .pwf-flexbox-grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border:1px solid #e6e3e3;
    background-color: #fcfcfc;
    padding:2px;
  }

  .pwf-flexbox-grid > div{
    padding:2px;
    width:auto;
    margin-right:3px;
    margin-bottom: 3px;
  }
  .pwf-intro-text{
    padding:6px;
  }
  .pwf-select-menu{
    padding-bottom:16px;
  }
  .pwf-form-button{
    padding-bottom:9px;
  }
  .pwf-display-table{
    width:100%;
    font-size:62%;
  }
}

@media screen and (min-width: 481px) and (max-width: 1160px) {
  .pwf-flexbox-grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border:1px solid #e6e3e3;
    background-color: #fcfcfc;
    padding:10px;
  }

  .pwf-flexbox-grid > div{
    padding:8px;
    width:auto;
    margin-right:3px;
    margin-bottom: 3px;
  }
  .pwf-intro-text{
    padding:8px;
  }
  .pwf-select-menu{
    padding-bottom:16px;
  }
  .pwf-form-button{
    padding-bottom:9px;
  }
  .pwf-display-table{
    width:100%;
    font-size:90%;
  }
}

@media screen and (min-width: 1161px) {
  .pwf-flexbox-grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    border:1px solid #e6e3e3;
    background-color: #fcfcfc;
    padding:16px;
  }

  .pwf-flexbox-grid > div{
    padding:8px;
    width:auto;
    margin-right:3px;
    margin-bottom: 3px;
  }
  .pwf-intro-text{
    padding:10px;
  }
  .pwf-select-menu{
    padding-bottom:16px;
  }
  .pwf-form-button{
    padding-bottom:9px;
  }
  .pwf-display-table{
    font-size:100%;
  }
}
