@media screen and (max-width: 480px) {
  .pwf-flexbox-grid{
    display:flex;
    flex-wrap: wrap;
    border:1px solid #fcfcfc;
    background-color: #fff;
    padding:2px;
  }

  .pwf-flexbox-grid > div{
    padding:4px;
    width:auto;
    margin-right:3px;
    margin-bottom: 3px;
  }
  .pwf-intro-text{
    padding:6px;
  }
  .pwf-select-menu{
    padding-bottom:16px;
  }
  .pwf-form-button{
    padding-bottom:9px;
  }
  .pwf-display-table{
    width:100%;
    font-size:100%;
  }
  .pwf-display-table-div{
    padding:5px;
  }
  .pwf-table-heading{
    color:white;
    background:#b0b0b0;
  }
}

@media screen and (min-width: 481px) and (max-width: 1160px) {
  .pwf-flexbox-grid{
    display:flex;
    flex-wrap: wrap;
    border:1px solid #fcfcfc;
    background-color: #fff;
    padding:10px;
  }

  .pwf-flexbox-grid > div{
    padding:18px;
    width:auto;
    margin-right:3px;
    margin-bottom: 3px;
  }
  .pwf-intro-text{
    padding:8px;
  }
  .pwf-select-menu{
    padding-bottom:16px;
  }
  .pwf-form-button{
    padding-bottom:9px;
  }
  .pwf-display-table{
    width:100%;
    font-size:100%;
  }
  .pwf-display-table-div{
    padding:5px;
    min-width: 60%;
  }
  .pwf-table-heading{
    color:white;
    background:#b0b0b0;
  }
}

@media screen and (min-width: 1161px) {
  .pwf-flexbox-grid{
    display:flex;
    flex-wrap: wrap;
    border:2px solid #fcfcfc;
    background-color: #fff;
    padding:16px;
  }

  .pwf-flexbox-grid > div{
    padding:18px;
    width:auto;
    margin-right:3px;
    margin-bottom: 3px;
  }
  .pwf-intro-text{
    padding:10px;
  }
  .pwf-select-menu{
    padding-bottom:16px;
  }
  .pwf-form-button{
    padding-bottom:16px;
  }
  .pwf-display-table{
    font-size:100%;
  }
  .pwf-display-table-div{
    padding:5px;
    min-width: 60%;
  }
  .pwf-table-heading{
    color:white;
    background:#b0b0b0;
  }
  
}
